@model Projet2nd.Models.Service

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete this Service ?</h3>
<p>This action cannot be undone. Deleting this service will permanently remove it from the system.</p>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Description")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Price")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Photo")
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content($"~/uploads/{Model.imageService}")" alt="Service Image" class="img-thumbnail" style="height: 200px; width: 300px;" />

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Status")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.etatService)
        </dd>
    </dl>
    
    <form asp-action="Delete" enctype="multipart/form-data">
        <input type="hidden" asp-for="IdService" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
    </form>
</div>
