@model IEnumerable<Projet2nd.Models.Service>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Your Services</h1>

<p>
    <a asp-action="Create" class="btn btn-success" style="float: right;margin-bottom: 30px;"><i class="bi bi-plus-circle"></i> Create New Service</a>
</p>
<table class="table" style="background-color:white;border-radius:15px;">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayName("Service Name")
            </th>
            <th>
                @Html.DisplayName("Service Description")
            </th>
            <th>
                @Html.DisplayName("Service Price")
            </th>
            <th>
                @Html.DisplayName("Service Photo")
            </th>
            <th>
                @Html.DisplayName("Service Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixService)
            </td>
            <td>
                    <img src="@Url.Content($"~/uploads/{item.imageService}")" alt="Service Image" style="max-width: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etatService)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdService" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.IdService" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
