@model Projet2nd.Models.Service

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Purchase Confirmation</h3>
<p>Thank you for choosing our service! Please review the details below and confirm your purchase.</p>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Description")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Price")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Photo")
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content($"~/uploads/{Model.imageService}")" alt="Service Image" style="max-width: 200px; max-height: 200px;" />

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Service Status")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.etatService)
        </dd>
        
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form action="@Url.Action("ConfirmPurchase", "Home")" method="post">
            <input type="hidden" name="serviceId" value="@Model.IdService" />
            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i> Confirm Purchase</button>
        </form>
    }
    else
    {
        <p>Please <a href="https://localhost:7002/Identity/Account/Login">login</a> to confirm the purchase.</p>
    }
</div>
<div>
    <a asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Back to List</a>
</div>
