@model List<Service>


<div class="container">
    <h2 class="text-center mb-4">Discover Our Services</h2>
    @if (ViewBag.IsVendeur || !User.Identity.IsAuthenticated)
    {
        <div class=" mb-3 text-right">
            <a href="@Url.Action("create", "Service")" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Service</a>
    </div>
    }
<div class="row">
        
    @foreach (var service in Model)
    {
        <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="@Url.Content($"~/uploads/{service.imageService}")" class="card-img-top" alt="Service Image" style="height: 250px; width: 300px;margin-left: auto;margin-right: auto;">
                <div class="card-body">
                    <h5 class="card-title">@service.nameService</h5>
                    <p class="card-text">@service.descriptionService</p>
                    <p class="card-text">Price: @service.prixService Dt</p>
                    <p class="card-text">Status: @service.etatService</p>
                        <form action="@Url.Action("Details", "Home",new { id = service.IdService })" method="get">
                            <input type="hidden" name="serviceId" value="@service.IdService" />
                            @if (!ViewBag.IsVendeur && service.etatService=="Available")
                            {
                                <button type="submit" class="btn btn-outline-dark"><i class="bi bi-bag"></i> Buy</button>
                            }
                        </form>
                </div>
            </div>
        </div>
    }
</div>
</div>